body {
  background-color: #cc5500;
}

#main {
  background-color: antiquewhite;
  width: 50%;
  height: 770px;
  text-align: center;
  margin: auto;
}

div {
  display: block;
}

#lowerDiv {
  margin: auto;
}

.taskDiv {
  /* position: relative; */
  width: 50%;
  border: 3px solid black;
  padding: 10px;
  margin: 20px;
}

.task {
  font-weight: bold;
  font-size: 30px;
}
